<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPENSE TRACKER</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css" type="text/css">
  </head>
  <body>
    <div id="new-user" class="container">
      <form action="/api/users" method="POST">
        <img src="https://i.pinimg.com/736x/52/35/6c/52356cf30d16a9e2779679ce0ed593e4.jpg" alt="logo img" width="40px" />
        <h1>Spendora</h1>
        <input id="username" name="username" type="text" placeholder="User Name" required />
        <input id="email" name="email" type="email" placeholder="example@example.com" required />
        <div class="terms-container">
          <input type="checkbox" id="terms" required />
          <label for="terms">I agree to the <a href="https://policies.google.com/terms?hl=en-US">terms and conditions</a></label>
        </div>
        <input type="submit" value="Sign Up" />
          <p>or sign up with:</p>
        <div class="social-login">
          <a href="https://accounts.google.com/signin" class="google"><i class="fab fa-google"></i></a>
          <a href="https://github.com/login" class="github"><i class="fab fa-github"></i></a> 
          <a href="https://www.facebook.com/login" class="facebook"><i class="fab fa-facebook"></i></a>
          <a href="more" class="more"><i class="fas fa-ellipsis-h"></i></a>
        </div>
      </form>
    </div>
  </body>
</html>